<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VKFeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19CEB28C1C130C00003BCB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19CEB2A81C130C00003BCB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19CEB2B31C130C00003BCB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
